@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-black-900 text-white-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .heading-1-bold {
    @apply text-[51.14px] font-bold leading-[40.91px];
  }
  .display-1-bold {
    @apply text-[32px] font-bold leading-[40px];
  }
  .display-2-bold {
    @apply text-[24px] font-bold leading-[32px];
  }

  .heading-1-medium {
    @apply text-[20px] font-medium leading-[28px];
  }
  .heading-2-medium {
    @apply text-[16px] font-medium leading-[24px];
  }

  .paragraph-1-bold {
    @apply text-[18px] font-bold leading-[28px];
  }
  .paragraph-2-bold {
    @apply text-[16px] font-bold leading-[24px];
  }
  .paragraph-3-bold {
    @apply text-[14px] font-bold leading-[20px];
  }

  .paragraph-1-medium {
    @apply text-[18px] font-medium leading-[28px];
  }
  .paragraph-3-medium {
    @apply text-[14px] font-medium leading-[20px];
  }
  .paragraph-4-medium {
    @apply text-[12px] font-medium leading-[16px];
  }

  .paragraph-1-regular {
    @apply text-[18px] font-normal leading-[28px];
  }
  .paragraph-2-regular {
    @apply text-[16px] font-normal leading-[24px];
  }
  .paragraph-3-regular {
    @apply text-[14px] font-normal leading-[20px];
  }
  .paragraph-4-regular {
    @apply text-[12px] font-normal leading-[16px];
  }

  .caption {
    @apply text-[10px] font-normal leading-[12.1px];
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-[rgba(67,183,254)] to-[rgba(79,72,230)] hover:from-[rgba(67,183,254)]/70 hover:to-[rgba(79,72,230)]/70 hover:duration-300;
  }

  .codeTextArea {
    @apply resize-none pl-8 font-mono text-sm leading-6;
  }
  .editorLineNumbers {
    @apply pl-4 font-mono font-mono text-sm
    leading-6 text-slate-500;
  }

  .error-message {
    @apply text-error-500 paragraph-3-regular mt-2;
  }
  .disabled-button {
    @apply disabled:hover:bg-black-700 disabled:text-white-500 disabled:hover:text-white-500 disabled:bg-black-700;
  }

  .resources-input-label {
    @apply paragraph-3-regular bg-black-700 placeholder:text-white-500 w-full rounded-md border-none p-3 focus:outline-none;
  }
  .resources-input-link {
    @apply paragraph-3-regular bg-black-700 placeholder:text-white-500 w-full rounded-md border-none p-3 focus:outline-none;
  }
  .resources-x-button {
    @apply bg-black-700 h-11 rounded px-3;
  }
  .resources-x-icon {
    @apply text-white-500 hover:text-white-300 hover:duration-300;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3a3d4f #252939;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #252939;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a3d4f;
  border-radius: 14px;
  border: 3px solid #252939;
}

/* React HeatMap */

.react-calendar-heatmap {
  width: 100% !important;
}
.react-calendar-heatmap-month-label {
  fill: #55597d !important;
}
.react-calendar-heatmap-weekday-labels {
  transform: translate(5px, 12px) !important;
}
.react-calendar-heatmap-weekday-label {
  fill: #55597d !important;
}
.react-calendar-heatmap-week .color-empty {
  fill: #1d2032 !important;
  rx: 2px !important;
  ry: 2px !important;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #0e4429;
  rx: 2px !important;
  ry: 2px !important;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #006d32;
  rx: 2px !important;
  ry: 2px !important;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #26a641;
  rx: 2px !important;
  ry: 2px !important;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #39d353;
  rx: 2px !important;
  ry: 2px !important;
}
.less-more-rectangles {
  @apply flex rounded-sm max-lg:size-2.5 max-sm:size-1.5 lg:size-3;
}
/* For inputs when clicking on an existing value in autofill browser menu */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(29 32 50) inset !important;
  -webkit-text-fill-color: rgb(173 179 204) !important;
  background-clip: content-box !important;
  caret-color: white !important;
}

/* React Datepicker */

.react-datepicker__view-calendar-icon {
  background-color: rgb(29 32 50) !important;
  display: flex !important;
  align-items: center !important;
}

/* TinyMCE */

.tox-tinymce {
  border: none !important;
}
.tox-editor-header {
  background-color: rgb(46 55 87) !important;
}
.tox-toolbar__group {
  padding-left: 0.125rem /* 2px */ !important;
  padding-right: 0.125rem !important;
}
.tox-tbtn {
  cursor: pointer !important;
  background-color: transparent !important;
}
.tox-tbtn--enabled {
  background-color: rgb(77, 86, 122) !important;
}
.tox-tbtn:hover {
  background-color: rgb(77, 86, 122) !important;
  transition-duration: 300ms !important;
}

.tox-tbtn svg {
  fill: #adb3cc !important;
}
.tox-toolbar {
  background-color: none !important;
}
.tox-toolbar-overlord {
  background-color: transparent !important;
}
.tox-toolbar__primary {
  background-color: rgb(46 55 87) !important;
  margin-left: 0.25rem !important;
}
.tox-statusbar {
  display: none !important;
}

/* Wrap code content in mobile mode */
code[class*="language-"],
pre[class*="language-"] {
  text-wrap: auto !important;
}
