@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  body {
    @apply bg-black-900 text-white-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .heading-1-bold {
    @apply text-[51.14px] font-bold leading-[40.91px];
  }
  .display-1-bold {
    @apply text-[32px] font-bold leading-[40px];
  }
  .display-2-bold {
    @apply text-[24px] font-bold leading-[32px];
  }

  .heading-1-medium {
    @apply text-[20px] font-medium leading-[28px];
  }
  .heading-2-medium {
    @apply text-[16px] font-medium leading-[24px];
  }

  .paragraph-1-bold {
    @apply text-[18px] font-bold leading-[28px];
  }
  .paragraph-2-bold {
    @apply text-[16px] font-bold leading-[24px];
  }
  .paragraph-3-bold {
    @apply text-[14px] font-bold leading-[20px];
  }

  .paragraph-1-medium {
    @apply text-[18px] font-medium leading-[28px];
  }
  .paragraph-3-medium {
    @apply text-[14px] font-medium leading-[20px];
  }
  .paragraph-4-medium {
    @apply text-[12px] font-medium leading-[16px];
  }

  .paragraph-1-regular {
    @apply text-[18px] font-normal leading-[28px];
  }
  .paragraph-2-regular {
    @apply text-[16px] font-normal leading-[24px];
  }
  .paragraph-3-regular {
    @apply text-[14px] font-normal leading-[20px];
  }
  .paragraph-4-regular {
    @apply text-[12px] font-normal leading-[16px];
  }

  .caption {
    @apply text-[10px] font-normal leading-[12.1px];
  }

  .primary-gradient {
    background: linear-gradient(90deg, rgb(67, 183, 254), rgb(79, 72, 230));
  }

  .codeTextArea {
    padding-left: 28px;
    font-family: monospace;
    line-height: 1.5;
    font-size: medium;
    resize: none;
  }
  .editorLineNumbers {
    font-family: monospace;
    padding-left: 10px;
    line-height: 1.5;
    color: #888;
    font-size: medium;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-datepicker__view-calendar-icon {
  @apply bg-black-700 !flex items-center rounded;
}

/* .tox-toolbar__primary {
  @apply !bg-black-700;
} */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3a3d4f #252939;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #252939;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a3d4f;
  border-radius: 14px;
  border: 3px solid #252939;
}
